<h3>Where to find us</h3>
<%= @restaurant.address %><br>
<%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zipcode %>

<h3>About Us</h3>
<i><%= @restaurant.category %></i>
<p><%= @restaurant.description %></p>
