<!DOCTYPE html>
<html>
<head>
  <title>Systemscheck6</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="row">
  <div class="col-md-5" style="float:left;">
    <h1><%= @title %></h1>
  </div>
  <div class="col-md-6" style="float:right;text-align:right;">
    <h4><%= link_to "Restaurants", restaurants_path %></h4>
    <h4><%= link_to "Submit a New Restaurant", new_restaurant_path %></h4>
  </div>
</div>



<%= yield %>


</body>
</html>
